<div class='container'>
  <table class='table table-striped'>
    <thead class='table-active'>
      <tr>
        <th scope='col'>Status</th>
        <th scope='col'>Type</th>
        <th scope='col'>Requestor</th>
        <th scope='col'>Machine</th>
        <th scope='col'>Title</th>
        <th scope='col'>Created date</th>
        <th scope='col'>Close request</th>
      </tr>
    </thead>
    <tbody>
      <RequestTable @closedRequest={{this.closedfilteredRequests}} />
    </tbody>
  </table>
</div>