<div class='container'>
  <div class='ps-5 pe-5 mb-5'>
    <Kpi::Charts::MainKpiChart />
  </div>
  <div class='ps-5 pe-5 mb-5'>
    <Kpi::Charts::RequestsTypeChart />
  </div>
  <div class='ps-5 pe-5 mb-5'>
    <Kpi::Charts::RequestTypeMachineChart />
  </div>
</div>