{{page-title 'OpenRequest'}}
<Header>Open new request</Header>
<div class='container'>
  <div class='form-floating mb-3'>
    <select class='form-select' aria-label='Default select example'>
      <option selected>Select Line</option>
      <option value='1'>Line 1</option>
      <option value='2'>Line 2</option>
      <option value='3'>Line 3</option>
    </select>
  </div>
  <div class='form-floating mb-3'>
    <select class='form-select' aria-label='Default select example'>
      <option selected>Select machine</option>
      <option value='1'>Machine 1</option>
      <option value='2'>Machine 2</option>
      <option value='3'>Machine 3</option>
    </select>
  </div>
  <div class='form-floating mb-3'>
    <select class='form-select' aria-label='Default select example'>
      <option selected>Select request type</option>
      <option value='1'>TPM</option>
      <option value='2'>Fault</option>
      <option value='3'>Breakdown</option>
    </select>
  </div>
  <div class='form-floating mb-3'>
    <input
      type='date'
      class='form-control'
      id='floatingInput'
      placeholder='date'
    />
    <label for='floatingInput'>Date</label>
  </div>
  <div class='form-floating mb-3'>
    <input type='time' class='form-control' id='timeInput' placeholder='time' />
    <label for='floatingInput'>Time</label>
  </div>
  <div class='form-floating'>
    <input
      type='text'
      class='form-control'
      id='floatingtext'
      placeholder='text'
    />
    <label for='floatingPassword'>Explain problem</label>
  </div>

  <div class='d-grid gap-2'>
    <button type='submit' class='btn btn-success'>Create request</button>
  </div>
</div>

{{outlet}}