<div class='card'>
  <div class='card-body'>
    <h5 class='card-title'>{{@request.title}}</h5>

    <a href='#' class='card-link'>Like</a>
    <a href='#' class='card-link'>Dislike</a>
    <a href='#' class='card-link'>Delete</a>
  </div>
</div>