<section class='vh-100'>
  <div class='container-fluid h-custom'>
    <div class='row d-flex justify-content-center align-items-center h-100'>
      <div class='col-md-9 col-lg-6 col-xl-5'>
        <img
          src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp'
          class='img-fluid'
          alt='login with monitor and pen'
        />
      </div>
      <div class='col-md-8 col-lg-6 col-xl-4 offset-xl-1'>
        <form {{on 'submit' this.onSubmit}}>
          <div class='form-outline mb-4'>
            <input
              type='text'
              id='login-input'
              class='form-control form-control-lg'
              placeholder='Enter new login'
              {{on 'input' (fn this.onPropertyChange 'username')}}
            />
            <label class='form-label' for='login'>Login</label>
          </div>
          <div class='form-outline mb-3'>
            <input
              type='password'
              id='password-input'
              class='form-control form-control-lg'
              placeholder='Enter new password'
              {{on 'input' (fn this.onPropertyChange 'password')}}
            />
            <label class='form-label' for='password'>Password</label>
          </div>
          <div class='form-outline mb-3'>
            <input
              type='email'
              id='email-input'
              class='form-control form-control-lg'
              placeholder='name@example.com'
              {{on 'input' (fn this.onPropertyChange 'email')}}
            />
            <label class='form-label' for='password'>Password</label>
          </div>
          <div class='text-center text-lg-start mt-4 pt-2'>
            <Shared::Button
              class='btn-primary btn-lg button-login'
              @label='Register new user'
              @type='subtmit'
            />
            <p class='small fw-bold mt-2 pt-1 mb-0'>Back to login page:
              <LinkTo @route='login'>Login page</LinkTo>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>