<div class='container'>
  <table class='table table-striped'>
    <thead class='table-active'>
      <tr>
        <th scope='col'>Type</th>
        <th scope='col'>Requestor</th>
        <th scope='col'>Machine</th>
        <th scope='col'>Title</th>
        <th scope='col'>Solution</th>
        <th scope='col'>Downtime [min]</th>
        <th scope='col'>Created date</th>
      </tr>
    </thead>
    <tbody>
      <ArchiveTable @requestArchive={{this.allClosedRequests}} />
    </tbody>
  </table>
</div>