<div class='container'>
  <table class='table table-striped'>
    <thead class='table-active'>
      <tr>
        <th scope='col' data-test-table-type>Type</th>
        <th scope='col' data-test-table-requestor>Requestor</th>
        <th scope='col' data-test-table-machine>Machine</th>
        <th scope='col' data-test-table-title>Title</th>
        <th scope='col' data-test-table-solution>Solution</th>
        <th scope='col' data-test-table-downtime>Downtime [min]</th>
        <th scope='col' data-test-table-created-date>Created date</th>
      </tr>
    </thead>
    <tbody>
      <ArchiveTable @requestArchive={{this.allClosedRequests}} />
    </tbody>
  </table>
</div>