<nav class='navbar navbar-expand-lg navbar-dark bg-primary'>
  <div class='container'>
    <LinkTo class='navbar-brand' data-test-main-link @route='home.index'>Main
      page</LinkTo>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav'>
        <li class='nav-item'>
        </li>
        <li class='nav-item'>
          <LinkTo
            class='nav-link'
            data-test-requests-link
            @route='home.requests'
          >Requests</LinkTo>
        </li>
        {{#if this.isRequestorUserType}}
          <li class='nav-item'>
            <LinkTo
              class='nav-link'
              data-test-open-request-link
              @route='home.open-request'
            >Open new request</LinkTo>
          </li>
        {{/if}}
        {{#if this.isResponderUserType}}
          <li class='nav-item'>
            <LinkTo
              class='nav-link'
              data-test-close-request-link
              @route='home.close-request'
            >Close request</LinkTo>
          </li>
        {{/if}}
        {{#if this.isAdminUserType}}
          <li class='nav-item'>
            <LinkTo
              class='nav-link'
              data-test-users-link
              @route='home.users'
            >Users</LinkTo>
          </li>
        {{/if}}
        <li class='nav-item'>
          <LinkTo
            class='nav-link'
            data-test-kpi-link
            @route='home.kpi'
          >KPI</LinkTo>
        </li>
        <li class='nav-item'>
          <LinkTo
            class='nav-link'
            data-test-archive-link
            @route='home.request-archive'
          >Archive</LinkTo>
        </li>
        <li class='nav-item'>
          <span
            role='button'
            class='nav-link'
            data-test-logout-link
            {{on 'click' this.onLogout}}
          >Logout</span>
        </li>
        <div class='nav-item'>
          <li class='nav-link'>
            Login user:
            {{this.session.currentUser.username}}
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>