<nav class='navbar navbar-expand-lg navbar-dark bg-primary'>
  <div class='container'>
    <LinkTo class='navbar-brand' @route='home.index'>Main page</LinkTo>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNav'
      aria-controls='navbarNav'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav'>
        <li class='nav-item'>
        </li>
        <li class='nav-item'>
          <LinkTo class='nav-link' @route='home.requests'>Requests</LinkTo>
        </li>
        {{#if this.isUserTypeIsRequestor}}
          <li class='nav-item'>
            <LinkTo class='nav-link' @route='home.open-request'>Open new request</LinkTo>
          </li>
        {{/if}}
        {{#if this.isUserTypeIsResponder}}
          <li class='nav-item'>
            <LinkTo class='nav-link' @route='home.close-request'>Close request</LinkTo>
          </li>
        {{/if}}
        {{#if this.isUserTypeIsAdmin}}
          <li class='nav-item'>
            <LinkTo class='nav-link' @route='home.users'>Users</LinkTo>
          </li>
        {{/if}}
        <li class='nav-item'>
          <LinkTo class='nav-link' @route='home.kpi'>KPI</LinkTo>
        </li>
        <li class='nav-item'>
          <LinkTo
            class='nav-link'
            @route='home.request-archive'
          >Archive</LinkTo>
        </li>
        <li class='nav-item'>
          <span
            role='button'
            class='nav-link'
            {{on 'click' this.onLogout}}
          >Logout</span>
        </li>
        <div class='nav-item'>
          <li class='nav-link'>
            Login user:
            {{this.loginUserUsername}}
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>