<table class='table table-striped'>
  <thead class='table-active'>
    <tr>
      <th scope='col'>Username</th>
      <th scope='col'>Email</th>
      <th scope='col'>Password</th>
      <th scope='col'>User Type:</th>
      <th scope='col'>Edit user</th>
    </tr>
  </thead>
  <tbody>
    <UserTable @userList={{this.sortedUserList}} />
  </tbody>
</table>