<table class='table table-striped'>
  <thead class='table-active'>
    <tr>
      <th scope='col' data-test-table-username>Username</th>
      <th scope='col' data-test-table-emial>Email</th>
      <th scope='col' data-test-table-password>Password</th>
      <th scope='col' data-test-table-user-type>User Type</th>
      <th scope='col' data-test-table-edit-user>Edit user</th>
    </tr>
  </thead>
  <tbody>
    <UserTable @userList={{this.sortedUserList}} />
  </tbody>
</table>