<div class='container-index'>
  <h3>Computerised Maintenance Management System</h3>
  <div class='d-flex m-5'>
    <Shared::Button
      class='btn-main col-5 mx-auto btn-danger'
      @label='Open request'
      @onClick={{this.onShowRequest}}
    />
    <Shared::Button
      class='btn-main col-5 mx-auto btn-success'
      @label='KPI'
      @onClick={{this.onShowKpi}}
    />
  </div>
  <div class='d-flex m-5'>
    <Shared::Button
      class='btn-main col-5 mx-auto btn-primary'
      @label='Archive'
      @onClick={{this.onShowArchive}}
    />
    <Shared::Button
      class='btn-main col-5 mx-auto btn-warning'
      @label='Logout'
      @onClick={{this.onShowLogout}}
    />
  </div>
</div>