<div class='container-index'>
  <h3>Computerised Maintenance Management System</h3>
  <div class='d-flex m-5'>
    <button class='btn btn-primary col-5 mx-auto btn-danger' type='button'>Open
      requests</button>
    <button
      class='btn btn-primary col-5 mx-auto btn-success'
      type='button'
    >KPI</button>
  </div>
  <div class='d-flex m-5'>
    <button
      class='btn btn-primary col-5 mx-auto btn-info btn-warning'
      type='button'
    >Logout</button>
  </div>
</div>